/* top left socail media icons */
.social-icons a {
    color: black;
    font-size: 1.75rem;
}

.connect {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0;
    color: slategray;
    font-family: 'Lato', sans-serif;
}
/* email address on top right */
.email-right {
    margin: 0;
    padding: 0;
    color: black;
    margin-right: 2rem;
}
/* Navigation Links */
.canderm-nav {
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: space-evenly;
}

#cd-logo {
  border-radius: 5px;
  width: 10%;
}

#cd-logo img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto; 
}

.dropdown-nav li {
    color: red;
  }