.repeated-products {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.repeated-products img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.abcd {
    display: none;
}